body{
  font-family: sans-serif;
  font-size: 16px;
}
label {
  display: block;
  margin: 5px 0;
}
/*Tabke stykes*/
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  background-color: #3f8ecf;
  margin: 1% 0;
}

th{
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: left;
  color: #FFF;
}

tbody tr:nth-child(odd){
  background-color: rgba(0,0,0,0.2);
}
tbody{
  background-color: #FFF;
}

td,
th {
  padding: 1%;
  border-bottom: 1px solid #aaa;
  font-weight: 400;
}
table a{
  background-color: inherit;
}
/*Button styles*/
a.button,
input[type="submit"],
button {
    all:unset;
    text-align: center;
    text-decoration: none;
    color: initial;
    padding: 0.5vw 1vw;
    margin: 0.1vw;
    border-radius: 5px;
    background-color: #418ecf;
    color:#FFF;
    transition: filter 0.15s ease-in-out;
}
a.button:hover,
input[type="submit"]:hover,
button:hover {
  filter: brightness(1.1);
}
/*Input styles*/
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"]{
  all:unset;
  padding: 5px;
  border-radius: 5px;
  border: solid 1px #eee;
  margin: 2px 0;
}